    <!doctype html>
<title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
<br>

  <table border="1">
    <tr>
      <th>Index</th>
      <th>File</th>
      <th>Operation</th>
    </tr>
    {% for file in filelist %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{file}}</td>
      <td><a href="{{url_for('download_file', filename=file)}}">download</a>&nbsp; &nbsp; 
	  <a href="{{url_for('view_file', filename=file)}}">view</a></td>
    </tr>
    {% else %}
    {% endfor %}
  </table>


